.gpt3__features-container__feature{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 1rem;
}
.gpt3__features-container__title div{

    height: 3px;
    width: 50px;
    background: var(--gradient-bar);
    margin-bottom:30px ;

}
.gpt3__features-container__title h1 {
    color: #fff;
    font-size: 26px;
    font-family: var(--font-family);
    font-weight: 700;
    letter-spacing: -0.04em;
    text-transform: capitalize;
    margin-bottom:30px ;
    
}
.gpt3__features-container__feature h1{
    width: 280px;
}
.gpt3__features-container_feature-text p{
    color: var(--color-text);
    font-size: 20px;
    font-family: var(--font-family);
    line-height: 2;
    margin-top: 30px;
}

.gpt-features{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.gpt-features-heading h1{
    line-height: 1.6;
    width: 80%;
    font-size: 36px;
    font-family: var(--font-family);
    font-weight: 900;
    margin-top: 30px;
}
.gpt-features-heading p{
  font-size: 20px;
 
  font-weight: 600;
  color: rgb(187, 127, 127);
  font-family: var(--font-family);
  margin-top: 70px;
 
}
.gpt-features-container{
    width: 100%;
   
    margin-right: 60px;
}