.tool_container {
    position: absolute;
    right: 0;top: 0;
    height: auto;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tooltip-container {
    margin-top: 20px;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    color: #fff;
    background-color: #000;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .tooltip:hover::after {
    opacity: 1;
  }
  