
.thImp{
    height: 80px !important;
}

/* .glass-table {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    overflow: hidden;
  }

  .glass-table table {
    width: 100%;
    border-collapse: collapse;
  }

  .glass-table th,
  .glass-table td {
    padding: 10px;
    text-align: left;
  }

  .glass-table th {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .glass-table td {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .glass-table tr:nth-child(odd) td {
    background-color: rgba(255, 255, 255, 0.25);
  } */